.adminChatBox{
    overflow: auto;
    height: 100vh; 
}
body,*,html{
    margin: 0;
    padding: 0;
}

  
div.adminChatBox::-webkit-scrollbar ,.chat-msg::-webkit-scrollbar {
    width: 2px;
}
div.adminChatBox::-webkit-scrollbar-track  {
    margin-top: 10px ;
    margin-bottom: 10px ;
    box-shadow: inset 0 0 4px rgba(0,0,0,0.3);
}
 .chat-msg::-webkit-scrollbar-track {
    box-shadow: inset 0 0 4px rgba(0,0,0,0.3);
}
div.adminChatBox::-webkit-scrollbar-thumb , .chat-msg::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

.admin-inp:focus {
    outline: none;
    box-shadow: none;
    border: none;
}
.hov:hover{
    background-color: rgba(54,64,74) !important;
    filter: brightness(150%);
}
.hovv{
    filter: brightness(150%);
    background-color: rgba(54,64,74) !important;
}
.hov{
    background-color: rgba(48,56,65) !important;
}
.bov{
    background-color: rgba(48,56,65) !important;
}
